<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <title>{{ title }} - Rock Paper Scissors</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <a href="/" class="button">Home</a>
            </ul>
        </nav>

        <!-- <h1>
            ROCK, PAPER, SCISSORS
        </h1> -->

    </header>
    {% block content %}

    {% endblock %}

    <!-- <footer>
        <h3>ROCK, PAPER, SCISSORS</h3>

    </footer> -->
</body>

</html>