{% extends "base.html" %}

{% block content %}


<div>


    <form action="/" method="post">
        <h3>Player 1</h3>
        <label for="player1_name">Name:</label>
        <input type="text" name="player1_name" id="player1_name">


        <label for="player1_choice">Choice:</label>

        <select id="player1_choice" name="player1_choice">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>

        </select>

        </select> <br><br>
        <h3>Player 2</h3>
        <label for="player2_name">Name:</label>
        <input type="text" name="player2_name" id="player2_name">
        <label for="player2_choice">Choice:</label>

        <select id="player2_choice" name="player2_choice">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>


        </select>
        <br><br>
        <input type="submit" class="button" value="Play">

    </form>

</div>
{% endblock %}